@{
    ViewData["Title"] = "Home Page";
}

<div>
<!-- Usage of azlyrics.com content by any third-party lyrics provider is prohibited by our licensing agreement. Sorry about that. -->
When you try your best, but you don't succeed<br>
When you get what you want, but not what you need<br>
When you feel so tired, but you can't sleep<br>
Stuck in reverse<br>
And the tears come streaming down your face<br>
When you lose something you can't replace<br>
When you love someone, but it goes to waste<br>
Could it be worse?<br>
<br>
Lights will guide you home<br>
And ignite your bones<br>
And I will try to fix you<br>
<br>
And high up above or down below<br>
When you're too in love to let it go<br>
But if you never try you'll never know<br>
Just what you're worth<br>
<br>
Lights will guide you home<br>
And ignite your bones<br>
And I will try to fix you<br>
<br>
Tears stream down your face<br>
When you lose something you cannot replace<br>
Tears stream down your face and I<br>
Tears stream down your face<br>
I promise you I will learn from my mistakes<br>
Tears stream down your face and I<br>
<br>
Lights will guide you home<br>
And ignite your bones<br>
And I will try to fix you
</div>